
html{scroll-behavior:smooth}


:root {
  --vh: 100vh;

  /* Font (Sizing) */
  --p: 15px;
  --span: var(--p);
  --b: var(--p);
  --small: calc(var(--p) / 1.618 );
  --h3: calc(var(--p) * 1.618);
  --h2: calc(var(--p) * 1.618 * 1.618);
  --h1: calc(var(--p) * 1.618 * 1.618 * 1.618);  


  /* Font (Colors) */
  --fontcolor: #737377;
  --fontcolorinv: rgb(255, 255, 255);

  /* Colors Pallet */
  --backgroundCol: #EEEEF3;
  --accentcolor: #ffffff;
  --Iconcolor: white;
  --errorcolor: #ff5252;
  --accentcolordark: #0000001e;
  /* #dad7d2 */
  /* Boreds */
  --borderradius: 20px;
  --border: solid 2px var(--accentcolordark);
  --borderacc: solid 1px var(--accentcolor);

  /* Shadow */
  --sectionshadow: 0 1px 2px 0 rgba(0,0,0,.05);
  
  /* Settings */
  /* user-select: none; */
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--backgroundCol);
}

body{
  margin: 0px;
  padding: 0px;
  background-color: var(--backgroundCol);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


p, h1, h2, h3, h4,b, small, button, input, li, ul,b, mark, span, a {
  font-size: var(--p);
  font-weight: 100;
  color: var(--fontcolor);
  margin: 0px;
}


mark{ background-color: var(--accentcolor); border-radius: var(--borderradius); color: var(--fontcolorinv); font-weight: 300}
small{ font-size: var(--small); font-weight: 300 }
p, span{ font-size: var(--p) ;font-weight: 400 }
h1{ font-size: var(--h1); font-weight: 400 }
h2{ font-size: var(--h2); font-weight: 600 }
h3{ font-size: var(--h3); font-weight: 600; }
h4{ font-size: var(--h3); font-weight: 400; }
b{font-weight: 600; color: black;}




.in{
  animation: in 2s forwards;
}

@keyframes in {
  0% {opacity: 0;}
  10% {opacity: 0;}
  100% {opacity: 100;}
}

button{
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: 500;
  transition: 0.3s;
  border: none;
  scale: 1.0;
  opacity: 1;
  padding: 15px 10px;
}

button:hover{
  cursor: pointer;
  scale: 1.05;
  opacity: 0.6;
  transition: 0.3s;
}


section{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border:  var(--border);
  border-radius: var(--borderradius);
  box-shadow: var(--sectionshadow);
}



li{
  cursor: pointer;
  font-size: var(--fontSizeSmall); 
  border-top: var(--border);
  background-color: var(--BackCol);
  padding: 10px;
  transition: 0.3s;
}

li:hover{
  background-color: var(--accentcolor);
  color: var(--fontcolorinv);
  transition: 0.3s;
}

li:last-child {
  border-bottom: none;
  border-bottom-left-radius: var(--borderradius);
  border-bottom-right-radius: var(--borderradius);
}

input{ 
  outline-width: 0;
  font-size: var(--fontSizeSmall); 
  box-shadow: none ;
  border: none;
  padding: 15px;
  border: 0px;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  outline: none;
  box-shadow: 0;
  width: 200px;
  height: 20px;
}

input:focus {
  outline-width: 0;
  outline: none;
}


input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  outline: none;
  /*  slider progress trick  */
  overflow: hidden;
  border-radius: 0px;
  border: 0px ;
  background-color: transparent;
  
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: transparent;
  border-radius: 16px;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: 15px;
  background: transparent;
  border-radius: 16px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  height: 0px;
  width: 0px;
  background-color: #fff;
  border-radius: 50%;
  border: 0px solid rgb(255, 255, 255);
  /*  slider progress trick  */
  box-shadow: -400px 0 0 400px var(--accentcolordark);
}


/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 0px;
  width: 0px;
  background-color: #fff;
  border-radius: 50%;
  border: 0px solid #f50;
  /*  slider progress trick  */
  box-shadow: -400px 0 0 400px var(--accentcolordark);
}



/*
@media only screen and (max-width: 600px) {

  :root {
  --p: 3.5vw;
  }
}
  */
