html{scroll-behavior:smooth}

@font-face {
  font-family: 'AvenirRegular';
  src: url('/fonts/Avenir/Regular.woff2')  format("truetype");
  font-weight: 500; /* Black weight is typically 900 */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirHeavy';
  src: url('/fonts/Avenir/Heavy.woff2')  format("truetype");
  font-weight: 500; /* Black weight is typically 900 */
  font-style: normal;
  font-display: swap;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}



@font-face {
  font-family: 'SfPro';
  src: url('/fonts/SfPro/SF-Pro.woff2')  format("truetype");
  font-weight: 300; /* Black weight is typically 900 */
  font-style: normal;
  font-display: swap;
}

:root {
  --vh: 100vh;
  /* Font (family) */
  --headerfontfamily: 'Courier New';
  --fontfamily: 'Courier New';
  
  /* Font (Sizing) */
  --small: 14px;
  --p: 15px;
  --span: (var(--p))
  --b: (var(--p));
  --h4: calc(var(--p) * 1.618);
  --h3: calc(var(--p) * 1.618 * 1.618);
  --h3: calc(var(--p) * 1.618 * 1.618 * 1.618);
  --h2: calc(var(--p) * 1.618 * 1.618 * 1.618 * 1.618);
  --h1: calc(var(--p) * 1.618 * 1.618 * 1.618 * 1.618  * 1.618);  
  --boldSize: 0.4px ;
 

  /* Colors Pallet */
  --backgroundCol: #000000;
  --foregroundCol: #2f21f7;
  --accentcolor: #39FF14;
  --accentcolordarker: #037c46;
  --warningCol : #FFED8F; 

    /* Font (Colors) */
    --fontcolor: var(--accentcolor);
    --fontcolorinv: rgb(255, 255, 255);
    --errorcolor: #D31C3D;

  
  /* Boreds */
  --borderradius: 23px;
  --border: solid 1.5px #DCDDC6;
  --borderacc: solid 1px var(--accentcolor);

  /* Shadow */
  --sectionshadow: 0 1px 2px 0 rgba(0,0,0,.05);
  --InitAnimScalePrevent: 0;
  
  /* Settings */
  /* user-select: none; */
  height: 100vh;
  width: 100vw;
  
  background-color: var(--backgroundCol);
  
  
}

:focus { outline: none; }

body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

p, small, button, input, li, ul,b, mark, span, a, b, input, textarea{
  font-family: var(--fontfamily);
  font-weight: 100;
  color: var(--fontcolor);
  

  
  
}

h1, h2, h3, h4{
  font-family: var(--headerfontfamily);
  color: var(--accentcolor);
}


mark{ background-color: var(--accentcolor); border-radius: var(--borderradius); color: var(--fontcolorinv); font-weight: 300}
small{ font-size: var(--small); font-weight: 300 }
p{ font-size: var(--p) ;font-weight: 400 }
h1{ font-size: var(--h1); font-weight: 400 }
h2{ font-size: var(--h2); font-weight: 400 }
h3{ font-size: var(--h3); font-weight: 400 }
h3{ font-size: var(--h3); font-weight: 400 }
h4{ font-size: var(--h4); font-weight: 400 }
b{ font-size: var(--p); font-weight: 500 ; -webkit-text-stroke-width: var(--boldSize);}


section{
  display: flex;
  background-color: var(--foregroundCol);
  border-radius: var(--borderradius);
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div{
  background-color: transparent;
}




button{
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--accentcolor);
  text-decoration: underline;
  scale: 1.0;
  opacity: 1;
  white-space:nowrap;
  -webkit-text-stroke-width: var(--boldSize);
  
}

button:hover{
  scale: 1.05;
  opacity: 1;
  cursor: pointer;
  transition: 0.3s;
}


.nav{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: var(--fontfamily);
  
  color: var(--fontcolor);
  font-size: var(--p); 
  font-weight: 500 ;
}

.nav:hover{
  text-decoration: underline;
}

ul{
  list-style-type: none;
}

li{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  font-size: var(--p); 
  color: rgba(102, 103, 77, 0.5);
  border-radius: var(--borderradius);
  background-color: transparent;
  transition: 0.3s;
  padding: 10px 0px;
}

li:hover{
  background-color: var(--accentcolor);
  color: var(--fontcolorinv);
  transition: 0.3s;
  padding: 10px 10px;
}

li:first-child {
  border-top: none;
  border-bottom: none;
  border-top-left-radius: var(--borderradius);
  border-top-right-radius: var(--borderradius);
}

li:last-child {
  border-bottom: none;
  border-bottom-left-radius: var(--borderradius);
  border-bottom-right-radius: var(--borderradius);
}

input{ 
  font-size: var(--p);
  outline: none;
  box-shadow: none ;
  border: none;
  background-color: var(--backgroundCol);
  border-radius: 0px;
  -webkit-text-stroke-width: var(--boldSize);
}


input::placeholder{
  font-family: var(--fontfamily);
  color: var(--fontcolor);
  font-weight: 500;
  opacity: 0.5;
}

textarea{ 
  font-size: var(--p);
  outline: none;
  box-shadow: none ;
  border: none;
  background-color: var(--foregroundCol);
  padding: 10px 15px;
  border-radius: var(--borderradius);
}

textarea::placeholder{
  font-family: var(--fontfamily);
  color: var(--fontcolor);
  font-weight: 500
}




@media only screen and (max-width: 600px) {

  :root {
  --p: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*
html,

body{
  max-width: 100vw;
  overflow-x: hidden;
}
*/
/*
body{
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.gm-style-cc { display: none }


.no-transition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.in{
  animation: 0.8s forwards inAndup;
  
}

.loading{
  opacity: 0;
}

@keyframes inAndup {
    0%{opacity: 0 ; transform: translateY(0px);}
    1%{opacity: 0 ; transform: translateY(20px);}
    100%{opacity: 1 ;transform: translateY(0px);} 
}
